.container {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    text-align: center;
    min-height: 100vh;        
  }

  .container h5 {
    color: white;
    text-decoration: none;
    text-shadow: 
    -1px -1px 0 #205a00,
     1px -1px 0 #205a00,
    -1px  1px 0 #205a00,
     1px  1px 0 #205a00;
    padding: 8px 15px;
  }

  .container img{
    min-height: 100%;
  }

  .card-mercado{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 5px;
  }
  
  .card-mercado-left{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d9826;
    color: white;
    border-radius: 5px;
    gap: 35px;
  }

  .card-mercado-left img{
    display: flex;
    padding: 35px;
    gap: 35px;
  }

  .card-mercado-left button {
    background-color: #205a00;
    border-style: none;
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: 'Poppins';
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

    .card-mercado-left button:hover {
    background-color: #39a300;
    border-style: none;
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: 'Poppins';
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

  .card-mercado-left h1{
    padding: 10px;
    margin: 0%;
  }

  .card-mercado-left-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    gap: 90px;
  }

  .card-mercado-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
    font-weight: 300;
  }

  .card-mercado-right h1{
    margin: 0;
  }

  .card-entrega{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 5px;
  }

  .card-entrega-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(253, 75, 75);
    color: white;
    border-radius: 5px;
    gap: 35px;
  }

  .card-entrega-right img{
    display: flex;
    padding: 35px;
    gap: 35px;
  }

  .card-entrega-right button {
    background-color: #6b0e0e;
    border-style: none;
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: 'Poppins';
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }

    .card-entrega-right button:hover {
    background-color: #9b1515;
    border-style: none;
    border-radius: 20px;
    display: flex;
    color: white;
    font-family: 'Poppins';
    font-weight: 1000;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    cursor: pointer;
  }


  .card-entrega-right h1{
    padding: 10px;
    margin: 0%;
  }

  .card-entrega-right-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    gap: 90px;
  }